<!--引入主题样式-->
<link rel="stylesheet" type="text/css" href="{{static_url('themes/bootstrap/easyui.css')}}" />
<!--引入图标样式-->
<link rel="stylesheet" type="text/css" href="{{static_url('themes/icon.css')}}" />
<link rel="stylesheet" type="text/css" href="{{static_url('css/demo.css')}}" />
<!--引入jQuery文件-->
<script src="{{static_url('js/jquery.min.js')}}" type="text/javascript" charset="utf-8"></script>
<!--引入EasyUi的js文件-->
<script src="{{static_url('js/jquery.easyui.min.js')}}" type="text/javascript" charset="utf-8"></script>
 
<title>{% block title %}表单填写{% end %}</title>

<!--context渲染继承-->
{% block context %}
{% end %}
